binds {
    Super+Alt+L { spawn "dms" "ipc" "call" "lock" "lock"; }
    Super+X { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Alt+V { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Alt+P { spawn "dms" "ipc" "call" "color-picker" "toggle"; }
    Mod+Alt+N { spawn "dms" "ipc" "call" "notifications" "open"; }
    Mod+Comma { spawn "dms" "ipc" "call" "settings" "focusOrToggle"; }
    Mod+D { spawn "dms" "ipc" "call" "dash" "toggle" "\"\""; }
    Mod+M { spawn "dms" "ipc" "call" "processlist" "focusOrToggle"; }
    Mod+N { spawn-sh "kitty -e nvim"; }
    Mod+P { spawn "dms" "ipc" "call" "notepad" "toggle"; }
    Mod+S { spawn "dms" "ipc" "call" "control-center" "toggle"; }
    Mod+A { spawn "dms" "ipc" "call" "inhibit" "toggle"; }
    Mod+Space { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+W { spawn "dms" "ipc" "call" "welcome" "page" "2"; }
    XF86AudioMute { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioMicMute { spawn "dms" "ipc" "call" "audio" "micmute"; }
    XF86AudioLowerVolume { spawn "dms" "ipc" "call" "audio" "decrement" "5"; }
    XF86AudioRaiseVolume { spawn "dms" "ipc" "call" "audio" "increment" "5"; }
    XF86MonBrightnessDown { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
}
