window-rule {
    opacity 0.87
    background-effect {
        blur true
    }
}

layer-rule {
    opacity 0.87
    background-effect {
        blur true
    }
}

blur {
    passes 5
    offset 2.0
    saturation 3
}
